@charset "UTF-8";
/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/
/**
 *
 * sass --watch style.scss:style.min.css --style compressed
 *
 * Here we pull in some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */


/**
 * Setup
 */
@import "vars";
@import "inuit.css/inuit";

.container {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
}





/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */
//@import "ui/example";
