/*------------------------------------*\
    $MARGIN/PADDING 
\*------------------------------------*/

$extra-small:5px;
$small:10px;
$medium:15px;
$large:20px;
$extra-large:30px;

.maxs {
	margin:$extra-small;
}
.mas {
	margin:$small;
}
.mam {
	margin:$medium;
}
.mal {
	margin:$large;
}
.maxl {
	margin:$extra-large;
}

.mhxs {
	margin-left:$extra-small;
	margin-right:$extra-small;
}
.mhs{
	margin-left:$small;
	margin-right:$small;
}
.mhs{
	margin-left:$small;
	margin-right:$small;
}
.mhm{
	margin-left:$medium;
	margin-right:$medium;
}
.mhl{
	margin-left:$large;
	margin-right:$large;
}
.mhxl{
	margin-left:$extra-large;
	margin-right:$extra-large;
}
.mvxs{
	margin-top:$extra-small;
	margin-bottom:$extra-small;
}
.mvs{
	margin-top:$small;
	margin-bottom:$small;
}
.mvm{
	margin-top:$medium;
	margin-bottom:$medium;
}
.mvl{
	margin-top:$large;
	margin-bottom:$large;
}
.mvxl{
	margin-top:$extra-large;
	margin-bottom:$extra-large;
}








